*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1.2rem;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.app__headerLoggedIn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57%;
}

.app__search{
  padding: 0 20px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  border-width: 1px;
  outline: none;
  border: 1px solid lightgray;
  background-color: #fafafa;
}


.app__headerImage {
  height: 2.5rem;
  width: 15rem;
  padding-right: 3rem;
  cursor: pointer;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
  
}

.app__postsRight{
  margin-left: 20px;
}
.message{
  text-align: center;
  padding-bottom: 20px;
  position: sticky;
  bottom: 0;
}